process {
    withName: '.*:BAM_FP:GATK4_HAPLOTYPECALLER' {
        ext.args = { "--emit-ref-confidence BP_RESOLUTION --dont-use-soft-clipped-bases " }
        ext.prefix = { "${meta.id}.g" }
    }

    withName: '.*:BAM_FP:GATK4_GENOTYPEGVCFS' {
        ext.args = "--include-non-variant-sites"
    }
}
